@nilmod {
	/* There is no id field. The filename defines the id of the mod. */
	name: "NilExample";
	description: "An example mod for NilLoader.";
	authors: "unascribed";
	version: "${version}";
}

entrypoints {
	/* premain is the only entrypoint defined by NilLoader itself. */
	premain: "com.example.nilexample.NilExamplePremain";
}
